h1   {
    color:darkkhaki
     }
p
    {
color: #1db870;
    }
    h2   {
        color:rgb(red, green, blue)
         }
         h3  {
            color:rgb(rgb(140, 21, 21), green, blue)
             }
             h4  {
                color:rgb(21, 106, 140)
                 }
                 h5{
                    color:rgb(21, 106, 140)
                     }
                     h6   {
                        color:rgb(0,255,0)
                         }
                         