h1   {
    color:#ff00ff
     }
p
    {
color: #1db870;
    }
    h2   {
        color:#ff0000
         }
         h3  {
            color:#00ff00
             }
             h4  {
                color:#0000ff
                 }
                 h5{
                    color:#ffff00
                     }
                     h6   {
                        color:#00FFFF
                         }