div{
    height:100px;
    width: 100px;
    background-image: url("c:\Users\athar\Downloads\DALL·E 2024-08-19 19.25.39 - A professional and visually appealing image for a gig gallery showcasing services related to Full Stack Web Development, Software Development, PHP Lar.jpg");
    background-size: cover;

}